* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arvo, Georgia, 'Times New Roman', Times, serif;
    background-color: #283149;
    text-align: center;
}

h1 {
    font-size: 7em;
    font-weight: 900;
    color: #FFF;
}

button {
    background-color: #FFF;
    color: #DA0463;
    outline: none;
    border-radius: 10px;
    border: 10px solid #404B69;
    font-size: 2em;
    width: 6rem;
    height: 6rem;
}

.buttons-wrapper {
    margin: 20% auto;
    max-width: 870px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

button:active,
button-active {
    border: 8px solid #6e82b8;
}

.crash {
    background-image: url("../images/crash.png");
    background-size: cover;
}
.kick {
    background-image: url("../images/kick.png");
    background-size: cover;
}
.snare {
    background-image: url("../images/snare.png");
    background-size: cover;
}
.tom1 {
    background-image: url("../images/tom1.png");
    background-size: cover;
}
.tom2 {
    background-image: url("../images/tom2.png");
    background-size: cover;
}
.tom3 {
    background-image: url("../images/tom3.png");
    background-size: cover;
}
.tom4 {
    background-image: url("../images/tom4.png");
    background-size: cover;
}